PYAIREADER_ENV=dev
PYAIREADER_CACHE_PATH=.pyaireader/cache.sqlite3
PYAIREADER_DEFAULT_TTL_SECONDS=86400
PYAIREADER_WEAK_TTL_SECONDS=1800
PYAIREADER_NOT_FOUND_TTL_SECONDS=3600
PYAIREADER_DIAGNOSTIC_TTL_SECONDS=1800

PYAIREADER_MAX_TOTAL_CHARS=16000
PYAIREADER_MAX_CLEAN_TEXT_CHARS=12000
PYAIREADER_MAX_EVIDENCE_ITEMS=12
PYAIREADER_MAX_NUMBER_MENTIONS=30
PYAIREADER_MAX_DATE_MENTIONS=30
PYAIREADER_MAX_ENTITY_ITEMS=40

PYAIREADER_HTTP_TIMEOUT_SECONDS=20
PYAIREADER_BROWSER_TIMEOUT_SECONDS=30
PYAIREADER_MAX_BATCH_CONCURRENCY=3
PYAIREADER_PER_DOMAIN_CONCURRENCY=1
PYAIREADER_PER_DOMAIN_MIN_INTERVAL_MS=1000
PYAIREADER_MAX_REDIRECTS=5

PYAIREADER_ENABLE_SCRAPLING=false
PYAIREADER_ENABLE_BROWSER=false
PYAIREADER_ENABLE_PDF=false
PYAIREADER_BLOCK_PRIVATE_NETWORK=true
PYAIREADER_LOG_LEVEL=INFO
